@model WebAppCarRoles.Models.Car

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post">
    <input type="text" name="Name" value="" placeholder="Model Name" />
    <input type="text" name="Brand" value="" placeholder="Brand" />
    <input type="text" name="Color" value="" placeholder="Color" />

          <input type="submit" value="Create" class="btn btn-success" />        
</form>




